/*
North Carolina State University
Global Stylesheet
*/

/* BEGIN LAYOUT ------------------------------------- */

body{font-family:Verdana, Arial, Helvetica, sans-serif;font-size:62.5%;margin:0;padding:0;width:100%;
}
/* Note: Make HTML 5 elements block-level for consistent styling */

/* General ************************************************/
article,address,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}
#wrapper {margin:0 auto;padding:0;width:1000px; margin-bottom:2%;}
#middle {background-color:#FFF; background-image:url(../img/navBack.jpg); background-repeat:repeat-y; color:#333;padding:0px 0 0;width:1000px; }
#three_col_vert #headertop,#two_col_vert #headertop {margin-bottom:12px; position:relative;}

#content {float:left;}
#two_col_vert #content {max-width:772px; clear:none; /*border:solid 1px #c00;*/}
#three_col_vert #content {max-width:516px; clear:none; /*float:left; border:solid 1px #c00;*/}


/* NOSCRIPT ALERT */
#js-alert { background-color: #CC0000; border-bottom: 1px solid white; color: white; font-size: 1.5em; padding: .3em; text-align: center;}

/* HEADER AND FOOTER */
#three_col_vert #headertop, #two_col_vert #headertop {width:1000px;overflow: hidden; margin-bottom:2px; }
#three_col_vert .bg #headertop,#two_col_vert .bg #headertop{border:none;margin-left:2px;}

#headertop{background:url(../img/topnav-BLANK.jpg) no-repeat 0 0;margin:0 auto;padding:0;width:1000px; height:130px; color:#fff;}
#headertop a {color:#fff;}


/* BRANDING BAR */
#topnav {font-family:Arial, Helvetica, sans-serif; position:relative;z-index:99;padding:10px 0px 6px 0;float:right;}
#topnav li{float:left;text-transform:uppercase;margin:4px 0 0 0;padding:4px 9px 2px 8px; border-left:solid 1px #ccc;}
#topnav li.first{border:0}#topnav li a{color:#a30d01;text-decoration:none;white-space:nowrap}#topnav li a:hover{text-decoration:underline}

/* NAVIGATION */

/* Utility Nav ****************************************/

ul#menu-utility-nav { float: right; margin-top: 15px;}

ul#menu-utility-nav li { text-transform: uppercase; font-size: 1.2em; font-weight: bold; display: inline; padding-right: 3px; }
ul#menu-utility-nav li a { color: black; text-decoration: none; }


/* Left Navigation ****************************************/
nav {display:inline;float:left; background-color:#e5e2d1; min-height:400px;}
#middle nav {color:#fff; background:#e1dece;font-family:helvetica, arial, sans-serif;}
#middle nav ul {padding:0;margin:0; }
#three_col_vert nav,#two_col_vert nav{margin:0 ;width:204px}

div.primaryNav #menu {background:#171717; padding:5px 0 10px;}
div.audience #menu {background:#666; border-top:3px solid #fff;padding:5px 0 10px;}
div.redBlock {height:12px; background-color:#b80711; border-bottom:6px solid #fff; border-top:6px solid #fff;}
#menu ul {width: 204px;}
#menu ul li {
		background-image: url(../img/bullet_nav.gif);
		background-position:16px 0.85em;
		background-repeat:no-repeat;
		display:block; 
		padding:6px 3px 6px 28px; 
		font-size:1.4em; font-weight:bold; 
		line-height:1.3em; 
		text-decoration:none; 
		text-transform:uppercase; 
		/*border:solid 1px #009900;*/
	}
#menu ul li a {color:#fff;}
#menu ul li a:hover {text-decoration:underline;}
div.primaryNav #menu ul li:hover {background-color:#333;}
div.primaryNav #menu ul ul.sub-menu li:hover {background-color:#595959;}
div.audience #menu ul li:hover {background-color:#474747;}

#menu ul li ul {left:-999em;position:absolute;}
#menu ul li.current-menu-item {
	background-image: url(../img/bullet_nav_active.gif);
	background-position:16px 0.85em;
	background-repeat:no-repeat no-repeat;
}
#menu ul li.current-menu-item ul, 
#menu ul li.current-menu-parent ul {
	left:0;
	position:relative;
	background:#383838;  
	margin:5px 0 0px -28px;
	padding:3px 0 8px; 
}
#menu ul li.current-menu-item ul li,
#menu ul li.current-menu-parent ul li {
	background:none;
	padding:4px 2px 3px 28px;
	font-size:.9em;
	line-height:1.3em; 
	font-weight:normal;
	text-transform:capitalize;
}
#menu ul li.current-menu-item li:hover {background-color:#171717;}

/* Right Navigation ***************************************/

#subNav {background-color:#e1dece; }
#subNav h2 {margin:0;padding:12px 0px 0px 10px; width:210px; height:26px; text-transform:uppercase; background-color:#5c5541; color:#fff; font-weight:600; }
#subNav h2.widgettitle {display:none;}
#subNav ul {margin:0; padding:8px 4px 6px 11px;}
#subNav ul li {display:block; padding:5px 0px; font-size:1.3em; line-height:1em;}
#subNav ul li.current_page_item a {}
#subNav ul ul {margin-top:7px;}
#subNav ul ul li {display:block; padding:4px 0px 4px 8px; font-size:.9em; line-height:1.1em; }
#subNav ul li a {color:#383838;}


/* NEW SIDEBAR */
aside {display:inline;float:right;margin:0;padding:4px 4px 0 4px;width:250px;font-size:1.1em; }
aside#sidebar {
  display:block;
  float:right;
  margin-top:28px;
  overflow:hidden;
  width:248px;
  color:#000;
}

aside#sidebar a {color:#c00;}

aside#sidebar .widgettitle {
  background-color:#CC0000;
  background-image:url(../img/sidebar_header_cut.png);
  background-position:100% 100%;
  background-repeat:no-repeat;
  color:#FFFFFF;
  display:inline-block;
  font-size:1.2em;
  letter-spacing:1px;
  padding:5px 40px 5px 21px;
  text-transform:uppercase;
  width:auto;
}

aside#sidebar .widget .helper {
  margin:0px;
  background-image:url(../img/sidebar-border.png);
  background-position:0 50%;
  background-repeat:no-repeat repeat;
  border-top-color:#FF9897;
  border-top-style:solid;
  border-top-width:1px;
  padding:14px 20px 0px 20px;
}
aside#sidebar .widget ul {margin:0; padding:0;}
aside#sidebar .widget ul li {line-height:12px; padding:5px 0px;}

aside#sidebar .widget {
  background-image:url(../img/sidebar_border_bottom.png);
  background-position:50% 100%;
  background-repeat:no-repeat;
  padding-bottom:25px;
  margin-bottom:25px;
  color:#000;
}


/* TEXT WIDGET */ /* includes fixes to remove cut bottom for CALENDAR and TEXT; widgettitle is different for CALENDAR and TEXT! */
aside#sidebar .widget_text h3{
  background-image:url(../img/sidebar_header-arrow.png);
  background-position:0 10px;
  background-repeat:no-repeat;
  font-size:1.2em;
  
}
aside#sidebar .widget_text h3.widgettitle {padding-top:14px; letter-spacing:normal;font-weight:600;background-color:#fff;color:#333;text-transform:capitalize;}
h3.widgettitle a {color:#fff !important;}

aside#sidebar .widget_text .helper {border:none; background:none;}
aside#sidebar .widget_text, aside#sidebar .widget_gce_widget .helper { /* plain box with no cut bottom for CALENDAR and TEXT */
  border:1px solid #FF9897;
  background:none;
  line-height:16px;
  font-size:0.85em;
  padding-bottom:12px;
}
aside#sidebar .widget_gce_widget {background:none;} /* removes cut bottom image from CALENDAR widget */

aside#sidebar .widget_text a {
  color:#333333;
  display:block;
  text-decoration:none;
}
aside#sidebar .widget_text h3, aside#sidebar .textwidget {
  font-size:1.2em;
}

aside#sidebar .textwidget img {
  display:block;
  margin:-10px 0px 12px -20px;
  max-width:246px;
  height:auto;
}

/* CALENDAR WIDGET */ /* calendar box edits to remove cut bottom above */
aside#sidebar .gce-widget-grid {margin-top:8px;}
aside#sidebar .gce-month-title {font-weight:bold; color:#333; font-size:1.2em; line-height:1.4em;}
aside#sidebar .gce-widget-list .gce-list .gce-list-event {background:none; font-weight:bold;}
aside#sidebar ul.gce-list li {margin-bottom:3px;}
aside#sidebar .gce-list-title {font-size:1.1em;}
aside#sidebar .gce-event-info .gce-tooltip-event {background-color:transparent;}
aside#sidebar .gce-widget-grid .gce-calendar td {color:#333;}
aside#sidebar .gce-widget-grid .gce-calendar td.gce-day-past {color:#ccc;}
aside#sidebar .gce-widget-grid .gce-calendar .gce-has-events {color:#c00;}


/* RSS WIDGET */
a.rsswidget {font-weight:bold; display:block;}
h3 a.rsswidget {display:inline;}
.helper a.rsswidget {font-weight:normal;}

/* OTHER WIDGETS */
#middle aside#sidebar li.widget {list-style-type:none;}
#middle aside#sidebar li.widget ul {line-height:1.3em;font-size:1.1em;margin:0;padding:8px 12px;}
#middle aside#sidebar li.widget ul li {margin:0 0 .5em; list-style:none;}
#middle aside#sidebar li.widget ul li a:link, aside#sidebar li.widget ul li a:visited{color:#c00;}
#middle aside#sidebar li.widget ul li a:hover{text-decoration:underline;}

#middle aside#sidebar li.widget_search .widgettitle {display:none;}

#sidebar-new::after {
  clear:both;
  content:'.';
  display:block;
  height:0;
  visibility:hidden;
}
#sidebar .helpful-links-brite, #sidebar-new .image-text-brite, #sidebar-new .image-brite, #sidebar-new .text-brite, #sidebar-new .quickfacts-brite, #sidebar-new .image-brite-custom, #sidebar-new .wolfalert-brite {
  margin-bottom:10px;
}
#sidebar-new .helpful-links-brite p, #sidebar-new .image-text-brite p, #sidebar-new .image-brite p, #sidebar-new .text-brite p, #sidebar-new .quickfacts-brite p, #sidebar-new .image-brite-custom p, #sidebar-new .wolfalert-brite p {
  line-height:1.6em;
}





/* SEARCH BLOCKS */
#headertop form#searchform {float:right;margin:0 0 10px 0px; height:90px; width:268px; padding:0 0 5px 0; background-color:#a20;}
#headertop form#searchform div.search-box {width:236px; height:22px; margin: 13px 4px 0px 15px;padding:5px;}
#headertop form#searchform input.search-query {width:195px;float:left;height:14px;padding:5px;border:none;background-color:#fff; font-size: 1.0em; font-family:Arial, Helvetica, sans-serif; color:#666;  }
#headertop form#searchform input.search-button {margin-top:2px;padding:0;width:28px;float:left;background:url('../img/searchbtn.jpeg') no-repeat 0 0 transparent;border:0 none;cursor:pointer;float:right;height:22px;outline:medium none;text-indent:-9999px;}

aside#sidebar form#searchform {}
aside#sidebar form#searchform div input[type="text"] {width:154px; height:16px; padding:1px; }
aside#sidebar form#searchform div input[type="submit"] {margin:0px 18px 0 0;padding:0;width:28px;float:right;background:url('../img/searchbtn.jpeg') no-repeat 0 0 transparent;border:0 none;cursor:pointer;height:23px;outline:medium none;text-indent:-9999px;}

/* FOOTER */
.foot-clear {clear:both;margin-top:2px;border-bottom:solid 1px #fff;}

footer {font-family:Arial, Helvetica, sans-serif; margin:0px; border-top:solid 4px #c00; text-transform:uppercase; padding:2px 0; color:#900; background-color:#fff; }

footer div.footer_top_holder {background:#c00; border-top:solid 1px #fff; height:42px;line-height:38px; }

footer ul li {display:inline;}
footer ul li a {font-size:1.1em;color:#fff;}
footer ul li:after {content:" | "; font-size:1.3em; padding:0 6px; color:#ae060f;}
footer ul li:last-child:after {content:none;}
footer div.footer_top_holder ul a {color:#fff; text-decoration:none;}

footer div.address {color:#c00; font-weight:bold; font-size:1.2em; padding:20px;}

/* END LAYOUT --------------------------------------- */  


/* BEGIN TYPOGRAPHY --------------------------------- */

/* HEADINGS */
h1,h2,h3,h4,h5,h6{color:#cc0000;font-weight:400}
h1{border-top:1px #cfcdc8 solid;color:#666;font-size:1.95em;margin-bottom:12px;padding-top:10px}
.p1 h1 {border:none;}
h2{font-size:1.6em; padding:18px 0 22px 0;}
h3{font-size:1.4em;padding:0 0 10px}
h3{font-size:1.4em;padding:0 0 10px}
h4{font-size:1.3em;padding:10px 0}
h5{font-size:1.2em;padding:10px 0}
h6{font-size:1.2em;padding:10px 0}


/* TEXT ELEMENTS */

a:link{color:#CC0000; text-decoration:none;}
a:visited{color:#CC0000}
a:active,a:hover{text-decoration:underline; color:#CC0000;}
p{color:#333;font-family:"Verdana", Arial , Helvetica, sans-serif;font-size:1.1em;line-height:1.4em;margin-bottom:18px}
#content p {}
#content ul {list-style:disc; }
#content ol {list-style:decimal;}
#content ul li, #content ol li {font-size:1.1em;line-height:1.4em;padding-bottom:5px}
#content li li{font-size:100%}
#content ul li{list-style-image:url(../img/right-arrow.gif)}
#content li,#content blockquote{padding-right:40px}
#two_col_horiz #content blockquote, #two_col_vert #content blockquote{padding-left: 40px; padding-right:40px}
ul{margin:0 30px 18px}
ol{margin:0 0 18px 1.5em}
ol ol{list-style:upper-alpha}
ol ol ol{list-style:lower-roman}
ol ol ol ol{list-style:lower-alpha}
ul ul,ol ol,ul ol,ol ul{margin-bottom:0}
dl{margin:0 0 24px}
dt{font-weight:700}
dd{margin-bottom:18px}
strong{font-weight:700}
cite,em,i{font-style:italic}
big{font-size:131.25%}
ins{background:#ffc;text-decoration:none}
blockquote{font-style:italic;padding:0 3em}
blockquote cite,blockquote em,blockquote i{font-style:normal}
pre{background:#f7f7f7;color:#222;line-height:18px;margin-bottom:18px;padding:1.5em}
abbr,acronym{border-bottom:1px dotted #666;cursor:help}
sup,sub{height:0;line-height:1;position:relative;vertical-align:baseline}
sup{bottom:1ex}
sub{top:.5ex}
input[type="text"],textarea{-moz-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);-webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);background:#f9f9f9;border:1px solid #ccc;box-shadow:inset 1px 1px 1px rgba(0,0,0,0.1);padding:2px}
thead{border-bottom:1px solid #999;border-top:1px solid #999}
tr td{padding:5px}
table{margin:5px 0}
.bg footer p{color:#FFF}

/* Text meant only for screen readers  */
.screen-reader-text{left:-9000px;position:absolute;}

/* END TYPOGRAPHY ----------------------------------- */


/* BEGIN NCSU BANNER CODE ----------------------------------- */
a.access {height:1px; left:-999px; position:absolute; top:auto; width:1px;}
a.access:focus {background-color:#000000;color:#FFFFFF;height:auto;left:0;overflow:auto;padding:5px 2px;right:0;text-align:left;width:120px; z-index:1000;}
#headertop .logo {bottom:0;height:118px;left:0;overflow:hidden;position:absolute;text-indent:-9000px;width:720px;z-index:95;}
#headertop .logo a#ncsu-banner-link {display:block;float:left;height:28px;width:287px;}
#headertop .logo a#homepage-banner-link {display:block;float:left;clear:both;height:90px;width:687px;}
#headertop div.logo a#ncsu-125-link {display:block;float:left;height:118px;width:85px;}
/* END BANNER STUFF ----------------------------------- */


/* BEGIN IMAGES ------------------------------------- */

.alignleft{float:left;margin-right:20px}
.alignright{float:right;margin-left:20px}
#content .aligncenter,#content img.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}
#content img.alignleft,#content img.alignright,#content img.aligncenter{margin-bottom:12px}
#content figure{background-color:#ececec;line-height:1.4em;margin-bottom:15px;padding:0;text-align:center}
#content figure img{border:10px solid #ececec;margin:0}
#content figcaption{color:#777;font-size:1.1em;margin:5px;padding:0 2px 10px 5px;text-align:left}
#content .width480 img{background-color:#fff;border:none}
#content .width480{background-color:#fff;width:480px}
#content .width480 figcaption{padding-bottom:0}
#three_col .width480{margin-right:0}
/*important - will cause sidebar to drop down with margin  */
.width265{width:265px}
#content .width265 figcaption{font-size:.95em}
.crop {width:794px; max-height:280px; overflow:hidden; padding-left:2px; margin-bottom:2px; }
.wp-post-image {}

/* END IMAGES --------------------------------------- */


/* MISC CLASSES AND ELEMENTS*/

hr{background-color:#E7E7E7;border:0;clear:both;height:1px;margin-bottom:18px}
hr.divider{border:none;border-top:1px #cfcdc8 solid;height:1px}
.clear {clear:both}
